#wrapper{
	width:900px;
	height: 800px;
	margin: 0 auto;
	border:ridge 4px;
}

#people{
	height: auto; 
    width: auto; 
	max-width: 100px; 
    max-height: 100px;
    padding: 12px;
}

#points{
	width:600px;
	/*height: 10px;*/
    margin:0 auto;
    text-align: right;
    display: block;
}

#name{
	margin:0 auto;
	text-align:left;
}

#cards{
	margin:0 auto;
	text-align:right;
}

body{
	text-align: center;
}

