#wrapper{
	width:1000px;
	height: 800px;
	margin: 0 auto;
	border:ridge 4px;
	text-align: left;
}

#people{
	height: auto; 
    width: auto; 
	max-width: 100px; 
    max-height: 100px;
    padding: 12px;
}

.points{
	text-align: right;
	position: relative;
	top: -120px;
	
}
#points_num{
	/*width:00px;*/
	position: relative;
	left: -100px;
	font-size: 1.5em;
    /*margin:0 auto;*/
}

#name{
	text-align:left;
	width: 100px; 
    padding: 10px;
}

#cards{
	margin:0 auto;
	text-align:justify;
	position: relative;
	top: 10px;
}

body{
	text-align: center;
}

#winner{
	font-size: 2em;
	text-align: center;
}
